@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.showcard {
  background-color: rgb(33, 33, 33);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

.showtitle {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  border-top: 5px solid white;
  color: white;
  text-align: center;
}

.showcard img {
  margin-top: 0;
  object-fit: cover;
  height: 200px;
  border-radius: 7px;
  width: 90%;
  height: 90%;
  filter: grayscale(0%);
}

.showcard img:hover {
  filter: grayscale(100%);
}

.showcard-over {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}
.showcard:hover .showcard-over {
  transform: translateY(0%);
}
